@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 240, 249);
}

.App {
  height: 704px;
  width: 550px;
  background-color: white;
}

/*Header*/
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #f55a5a;
  height: 55px;
  width: 100%;
}

header p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #ffffff;
  margin-left: 7px;
}
